<a href="https://colab.research.google.com/github/sarthakpruthi/deep-learning-fastai/blob/master/fastai4tab%26col.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

tabular

In [0]:
from fastai import *
from fastai.tabular import *

In [0]:
 #consists of fraud detection sales forecasting, ad optimaization, store layout etc

In [3]:
path=untar_data(URLs.ADULT_SAMPLE)
path.ls()

Downloading http://files.fast.ai/data/examples/adult_sample

[PosixPath('/root/.fastai/data/adult_sample/models'),
 PosixPath('/root/.fastai/data/adult_sample/export.pkl'),
 PosixPath('/root/.fastai/data/adult_sample/adult.csv')]

In [4]:
df=pd.read_csv(path/'adult.csv')
train_df,valid_df=df[:-2000].copy(),df[-2000:].copy()
train_df.head()

   age          workclass  fnlwgt  ... hours-per-week  native-country salary
0   49            Private  101320  ...             40   United-States  >=50k
1   44            Private  236746  ...             45   United-States  >=50k
2   38            Private   96185  ...             32   United-States   <50k
3   38       Self-emp-inc  112847  ...             40   United-States  >=50k
4   42   Self-emp-not-inc   82297  ...             50   United-States   <50k

[5 rows x 15 columns]

In [0]:
dep_var = 'salary'
#categorical variables-options and continous variables-continous
#for categorical variables we use embeddings
#processes instead of transforms
cat_names = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race']
cont_names = ['age', 'fnlwgt', 'education-num']
procs = [FillMissing, Categorify, Normalize]

In [21]:

dep_var

'salary'

In [0]:
test = TabularList.from_df(df.iloc[800:1000].copy(), path=path, cat_names=cat_names, cont_names=cont_names)

In [0]:
data = (TabularList.from_df(df, path=path, cat_names=cat_names, cont_names=cont_names, procs=procs)
                           .split_by_idx(list(range(800,1000)))
                           .label_from_df(dep_var)
                           .add_test(test, label=0)
                           .databunch())

In [24]:
data.show_batch(3)

In [26]:
learn=tabular_learner(data,layers=[200,100],metrics=accuracy)
learn.fit(1,1e-2)

In [0]:
#text goes into rnn
#images go into cnn
#metadata goes into tabular model

collaborative filtering

In [0]:
from fastai import *
from fastai.collab import *
from fastai.tabular import *

In [3]:
path=untar_data(URLs.ML_SAMPLE)
path.ls()

Downloading http://files.fast.ai/data/examples/movie_lens_sample

[PosixPath('/root/.fastai/data/movie_lens_sample/ratings.csv')]

In [6]:
df=pd.read_csv(path/'ratings.csv')
df.head()

   userId  movieId  rating   timestamp
0      73     1097     4.0  1255504951
1     561      924     3.5  1172695223
2     157      260     3.5  1291598691
3     358     1210     5.0   957481884
4     130      316     2.0  1138999234

In [0]:
data=CollabDataBunch.from_df(df,seed=42)

In [0]:
y_range=[0,5.5]

In [0]:
learn=collab_learner(data,n_factors=50,y_range=y_range)

In [20]:
learn.fit_one_cycle(3,5e-3)